# specified file
try.md

# specified file suffix
*.zip
*.jar

# all directory ipynb_checkpoints
**/.ipynb_checkpoints/

# specified directories
Informatics/Algorithms/codes/algs4
Informatics/Algorithms/algs4-data/
Informatics/np_pd_mpl/AnatomyOfMatplotlib-master

# Python specified
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# Windows specified
Thumbs.db
ehthumbs.db
Desktop.ini
.bat